header {
    width: 980px;
    height: 250px;
}

header img {
    width: 450px;
    height: 100%;
    margin-left: 50px;
}


main {
    background-color: #d9d9d9
}

.card {
    
    background: #737373;
    float: left;
    position: relative;
    width: 30%;
    height: 500px;
    padding-bottom: 30%;
    margin: 1.66%;        
}

.box-img {
    width: 60px;
    height: 60px
}